p {
    font-size: 1.6em;
    color: rgb(5, 1, 1); 
    font-family: sans-serif; 
  }

body{ 
      background-color: rgb(240, 232, 128);
      }
      a { 
        color: blue;
      } 

      #conteudo { 
        text-align: center;
        }  