p {
    font-size: 1.6em;
    color: rgb(5, 1, 1); 
    font-family: sans-serif; 
  }

body{ 
      background-color: rgb(240, 232, 128);
      }
      a { 
        color: blue;
      }
.campo label {
        display: block;
    }
    .campo input:focus, .campo select:focus, .campo textarea:focus {
        background: rgb(253, 253, 10);
    }